body {
    font-family: "OpenSans", "PlayfairDisplay", "AvenirNext", sans-serif;
    margin: 0; 
    background-color: #F9FDFF;
}

h1,
h2,
h3,
p {
    margin: 0;
}

.container {
    
    width: 1140px;
    margin: 0 auto;
    
    

}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 90px;
    margin-bottom: 125px;
    position:sticky;
    
}


.nav-items{
    position: absolute;
    margin-left: 90px;
}

.menu{
    font-family: OpenSans;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.13em;
    color: #303032;
    text-decoration: none;
    margin-left: 50px;  
    
}


.search {
   width: 27px;
   height: 28px;
   background-color: transparent;
   background-image: url(/img/search.svg);
   background-repeat: no-repeat;
   border:0;
   cursor: pointer;
   
  

}

.basket{
   width: 35px;
   height: 28px;
   background-color: transparent;
   background-image: url(/img/basket.svg);
   background-repeat: no-repeat;
   border:0;
   cursor: pointer;
   margin-left: 22px;

}

.burger-menu{
    border:0;
        
   
    }

/* end header */

/* title page */

.main-page{
    display: flex;
    
}

h1{
    font-family: PlayfairDisplay;
    font-size: 57px;
    line-height: 145%;
    margin-bottom: 25px;
    width: 545px;
}

p{
    font-family: OpenSans;
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 15px;
}
.price-left{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
  
}

.price{
    font-family: OpenSans;
    font-weight: 600;
    font-size: 30px;
    line-height: 41px;
    margin-left: 22px;
}

.title-block button {
    width: 238px;
    height: 58px;
    background-color:#0a0a0c;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 22px;
    font-family: OpenSans;
    letter-spacing: 0.13em;
    cursor:pointer;
    
    
}

.title-wraper{
    display: flex;
    position: relative;
    top: -610px;
    left:46%   
}
     

.title-page {
    position: relative;
    margin-left: 25px;
       
}

.title-page::before{
     content:url(/img/bg.png);
     position: absolute;
     right:-30%;
     top: -70%;
     z-index: -1;
}
/* end title page */

/*  title-slider */

.title-slider.slick-initialized .slick-slide{
    height: 640px;
    margin-top: 50px;
    
    
      
}

.title-slider .slick-dots button{
    margin-bottom: 20px;
    border:0;
    border-radius: 0;
    background-color: transparent;
}
.title-slider .slick-dots{
    flex-direction: column;
    margin-left: 45%;
    top: -10%;
    position: absolute;
    
}



#slick-slide-control20::before{
    content: '01';
    font-family: PlayfairDisplay;
    width: 23px;
    height: 29px;
    font-size: 40px;
    line-height: 145%;
    color:black;

}

#slick-slide-control21::before{
    content: '02';
    font-family: PlayfairDisplay;
    width: 23px;
    height: 29px;
    font-size: 40px;
    line-height: 145%;
    color:black;

}

#slick-slide-control22::before{
    content: '03';
    font-family: PlayfairDisplay;
    width: 23px;
    height: 29px;
    font-size: 40px;
    line-height: 145%;
    color:black;
}



#slick-slide-control23::before{
    content: '04';
    font-family: PlayfairDisplay;
    width: 23px;
    height: 29px;
    font-size: 40px;
    line-height: 145%;
    color:black;
    
}

.slick-dots li button { 
    font-size: 0; 
 } 
/*  end title-slider */


.items{
    display: flex;
    text-align: center;
    position: relative;
    margin-bottom: 100px;
    
}

h3{
    font-family: PlayfairDisplay;
    font-size: 28px;
    line-height: 37px;
    letter-spacing: 0.05em;
}

.line{
    margin-bottom: px;
    margin-left: -66px;
}

.new {
    margin-top: 78px;
}

.name{
   margin-top: 110px; 
   margin-left: -100px;
       
}

.item-1{
    padding-top: 150px;
}

.new-products{
    margin-top: 78px;
}
.armchair-2{
    margin-top: 60px;
}



/* end items */


.review{
    width: 653px;
    margin: 0 auto;
    text-align: center;
    
}

.helen{
    margin-bottom: 17px;
    margin: 0 auto;
}

.Helen{
    font-family: AvenirNext;
    font-weight: 600;
    font-size: 22px; 
    color:#303032 
}

.profession{
    font-family: OpenSans;
    font-weight: bold;
    font-size: 18px;
    line-height: 154.36%;
    color:#444348;
    margin-bottom: 15px;
}
.opinion{
    font-family: OpenSans;
    font-style: italic;
    font-size: 16px;
    line-height: 154.36%;
    margin: 0 auto;
    width: 653px;
}

/* end reviews */


/*review-slider*/
.slick-dots{
    display: flex;
    justify-content: center;
    margin-left: -1px;
    
}

.review-slider .slick-dots button{
    font-size: 0;
    padding: 3px;
    background-color: transparent;
    border-radius: 50%;
    margin: 0px 4px;
    border: 2px solid 
    #B3B3B3;
    cursor: pointer;
    
}

ul {
    list-style-type: none;
 }

.review-slider{
    position: relative;
}

.slick-prev.slick-arrow{
    position: absolute;
    top: 40%;
    left: 12%;
    border: 0;
    background-color:transparent;
    font-size: 0;
    width: 70px;
    height: 70px;
    background-image:url(/img/reviews/left.svg);
    background-repeat:no-repeat;
    background-size: contain;
    z-index: 1;
    cursor: pointer;


}

.slick-next.slick-arrow{
    position: absolute;
    top: 40%;
    left: 80%;
    border: 2px;
    background-color:transparent;
    font-size: 0;
    width: 70px;
    height: 70px;
    background-image:url(/img/reviews/right.svg);
    background-repeat:no-repeat;
    background-size: cover;
    cursor: pointer;


}

.review-slider .slick-active button{
    background-color: #B3B3B3;

}
/* end review-slider*/

.title-sale{
    font-family: PlayfairDisplay;
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    letter-spacing: 0.05em;
    margin-bottom: 15px;
    margin-top: 200px;
}

.sale-title{
    margin-bottom: -10px;
    position: relative;
        

}

.line-two  {
    margin-bottom: 87px;
}

.section-menu{
    display: inline-flex;
    bottom: 20px;
    right: 16px;
    position: relative;
    
}

.section-menu button{
    border:0;   
    font-family: OpenSans;
    font-weight: bold;
    font-size: 16px;
    line-height: 2px;
    cursor: pointer;
    margin: 12px;
    

}


.sale-products{
    display: flex;       
}


.sale-slider_product{
   position: relative;
}

.sale-slider img:hover{
    border-top: 5px solid #303032;   

}


.sale-title::before{
    position: absolute;
    content: url(/img/chance/bg.png);
    z-index: -2;
    right:50%;
    top:-50%
}

 .sale-slider_product {
     position: relative;
     width: 100%;     
        
}
    
.sale-slider_product button {
    position: absolute;
    top: 68%;
    left: 73px;
    width: 210px;
    height: 60px;
    color:#FFFFFF;
    background-color: #303032;
    border: 0;
    font-family: OpenSans;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.13em;
    transform: translate(-35%, 100%);
    opacity:0;
    cursor: pointer;
        
 }
    
  .sale-slider_product:hover button {   
    opacity: 1;
}
  
/* sale-slider*/

.sale-products.slick-slide{
    display: flex;         
}
.sale-slider .slick-dots button{
    width: 25px;
    background-color: #dcdcdf;
    border-radius: 50%;
    margin: 0px 8px;
    border: 1px solid #d4d4da;
    cursor: pointer;
    border-radius:0px;
    
}
.sale-slider .slick-active button{
    background-color: #303032;

}

 
  /* end sale-slider*/
.footer{
    background-color:  white;
    height: 235px;
    position: relative;
    margin-top: 130px;
    
}

.footer::before{
    content:url(/img/footer/bg.png);
    z-index: -1;
    position: absolute;
    bottom: -586px;
    right: -31%;
}
  .menu-block{
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
      align-items: center;
  }

  a{
      text-decoration: none;
      font-family: AvenirNext;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 22px;
      letter-spacing: 0.05em;
      color:#303032;
      margin: 30px;
      
  }

  .footer-menu{
      margin-right: -22px;
  }

  .contacts{
      margin-left: -32px;
      padding-bottom: 20px;
      
  }

  .rights{
    border-top: 1px solid #d8d8dd;   
  }

  .rights img{
      position: absolute;
      margin-top: 10px;
      right: 0;
  }