body {
    font-family: "OpenSans", "PlayfairDisplay", "AvenirNext", sans-serif;
    margin: 0;
    color: #303032;
    background-color: #F9FDFF;
}

h1,
h2,
h3,
p {
    margin: 0;
}

.container {
    
    width: 1170px;
    margin: 0 auto;
    

}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 90px;
    margin-bottom: 125px;
    position:sticky;
    
}


.header-items{
    position: absolute;
    margin-left: 90px;
}

.menu{
    font-family: OpenSans;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.13em;
    color: #303032;
    text-decoration: none;
    margin-left: 50px;  
    
}


.search {
   width: 27px;
   height: 28px;
   background-color: transparent;
   background-image: url(/img/search.svg);
   background-repeat: no-repeat;
   border:0;
   cursor: pointer;
   
  

}

.basket{
   width: 35px;
   height: 28px;
   background-color: transparent;
   background-image: url(/img/basket.svg);
   background-repeat: no-repeat;
   border:0;
   cursor: pointer;
   margin-left: 22px;

}

/* end header */



.title-page{
    display: flex;
    margin-bottom: 150px;
    
}

.right-description{
    display: flex;
    position: relative;
}

.right-img{
    margin-top: -40px;
    margin-right: 25px;
    
}

.list{
    margin-top: 40px;       
}


.right-description::before{
    content: url(/img/element2.png);
    position: absolute;
    width: 100%;
    z-index: -2;
    top: -245px;
    left: 213px;

}

h1{
    font-family: PlayfairDisplay;
    font-size: 57px;
    line-height: 145%;
    margin-bottom: 25px;
    width: 545px;
}

p{
    font-family: OpenSans;
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 15px;
}
.price-left{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
  
}

.price{
    font-family: OpenSans;
    font-weight: 600;
    font-size: 30px;
    line-height: 41px;
    margin-left: 22px;
}

.buy-button{
    width: 238px;
    height: 58px;
    background-color:#303032;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 22px;
    font-family: OpenSans;
    letter-spacing: 0.13em;
    cursor: pointer;
}
/* end title page */



.items{
    display: flex;
    justify-content: space-between;
    text-align: center;
    position: relative;
    margin-bottom: 100px;
    
}

h3{
    font-family: PlayfairDisplay;
    font-size: 28px;
    line-height: 37px;
    letter-spacing: 0.05em;
}

.line{
    margin-bottom: 130px;
    margin-left: -66px;
}

.new {
    margin-top: 78px;
}

.name{
    margin-right: 76px;
}
.item-1{
    padding-top: 46px;
}
.item-2{
    margin-left: -36px;
}
.item-3{
    padding-top: 43px;
    margin-left: -40px;
}

.item-4::before{
    content:url(/img/goods/bg\ 4.png);
    position: absolute;
    z-index: -2;
    right: -40px;
    top:-43px;

}

.item-2::before{
    content:url(/img/goods/bg2.png);
    position: absolute;
    z-index: -2;
    top: -45px;
    left: 276px
}

.item-3::before{
    content:url(/img/goods/bg3.png);
    position: absolute;
    z-index: -2;
    left: 300px;
}

.item-1::before{
    content:url(/img/goods/bg1.png);
    position: absolute;
    z-index: -2;
    left: -35px;
    top: 285px;      
}
.value {
    margin-left: -10px;
    font-family: OpenSans;
    font-weight: 600;
    font-size: 30px;
    line-height: 41px;
    
}
/* end items */


.review{
    width: 653px;
    margin: 0 auto;
    text-align: center;
}

.helen{
    margin-bottom: 17px;
    margin: 0 auto;
}

.Helen{
    font-family: AvenirNext;
    font-weight: 600;
    font-size: 22px; 
    color:#303032 
}

.profession{
    font-family: OpenSans;
    font-weight: bold;
    font-size: 18px;
    line-height: 154.36%;
    color:#444348;
    margin-bottom: 15px;
}
.opinion{
    font-family: OpenSans;
    font-style: italic;
    font-size: 16px;
    line-height: 154.36%;
    margin: 0 auto;
    width: 653px;
}

/* end reviews */


/*review-slider*/
.slick-dots{
    display: flex;
    justify-content: center;
    margin-left: -20px;
}

.slick-dots button{
    font-size: 0;
    padding: 3px;
    background-color: transparent;
    border-radius: 50%;
    margin: 0px 4px;
    border: 2px solid 
    #B3B3B3;
    margin-bottom: 140px;
    cursor: pointer;
    
}

ul {
    list-style-type: none;
 }

.review-slider{
    position: relative;
}

.slick-prev.slick-arrow{
    position: absolute;
    top: 40%;
    left: 12%;
    border: 0;
    background-color:transparent;
    font-size: 0;
    width: 70px;
    height: 70px;
    background-image:url(/img/reviews/left.svg);
    background-repeat:no-repeat;
    background-size: contain;
    z-index: 1;
    cursor: pointer;


}

.slick-next.slick-arrow{
    position: absolute;
    top: 40%;
    left: 80%;
    border: 2px;
    background-color:transparent;
    font-size: 0;
    width: 70px;
    height: 70px;
    background-image:url(/img/reviews/right.svg);
    background-repeat:no-repeat;
    background-size: cover;
    cursor: pointer;


}

.slick-active button{
    background-color: #B3B3B3;

}

/* end review-slider*/

.title-sale{
    font-family: PlayfairDisplay;
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    letter-spacing: 0.05em;
    margin-bottom: 10px;
}


.line-two  {
    margin-bottom: 87px;
}

.sale-products{
    display: flex;
    margin: 0px -27px;
}

.sale{
    position: relative;
}

.sale::before{
    position: absolute;
    content: url(/img/chance/bg.png);
    z-index: -2;
    bottom: 30%;
    right:41%;

}

/* sale-slider*/

.sale-products.slick-slide{
    display: flex;
    
}

.sale-slider .slick-dots button{
    margin: 30px;
    bottom:500px;
    position: relative;
    right:450px;
    margin-top: 55px;
    cursor: pointer;
  
}

#slick-slide-control10{
  background-image:url(/img/chance/1.svg);
  background-color: transparent;
  border:0;
  width: 56px;
  height:23px;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius:0px;
}

#slick-slide-control11{
    background-image:url(/img/chance/2.svg);
    background-color: transparent;
    border:0;
    width: 59px;
    height:26px;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius:0px;
  }

  #slick-slide-control12{
    background-image:url(/img/chance/3.svg);
    background-color: transparent;
    border:0;
    width: 56px;
    height:23px;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius:0px;
  }
 
  /* end sale-slider*/